<div class="col-md-8 blog-main">
  <h4 class="pb-3 mb-4 font-italic border-bottom">
    <%= link_to 'New Blog', new_blog_path %>
  </h4>

  <div class="blog-post">
    <%= render @blogs %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>

</div><!-- /.blog-main -->
