<h1>About Me</h1>
<p>I am currently a student at McGill University in Montreal, QC, studying cell biology and computer science. When I am not at school, you'll probably find me reading a book, starting a new painting, or cooking up something delicious.</p>
